/**
 * Memory
 * 
 * @author   Matthias Morin <matthias.morin@gmail.com>
 * @version  1.1.0
 */

* {
	box-sizing: border-box;
}

body {
	background-image: url('../img/bg.png');
    position: relative;
    min-height: 100vh;
    font-family: sans-serif;
    padding-bottom: 8vh;
}

footer {
	background-color: whitesmoke;
    border-top: 1px solid rgba(0,0,0,.1);
    padding-top: 2em;
    width: 100%;
    min-height: 8vh;
    position: absolute;
    bottom: 0;
}

.navbar-brand {
    font-family: 'Permanent Marker', cursive;
    color: purple !important;
}

.block {
    margin: 2px;
    border: 3px solid grey;
    border-radius: 6px;
    min-height: 120px;
}

#grid {
	background-color: rgba(255, 255, 255, .5);
	border-radius: 6px;
	margin-top: 5vh;
	min-height: 75vh;
}

.card {
	background-size: 100px;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: #40D47E;	/* Green */
	height: 140px;
	width: 140px;
	padding: 20px;
	margin: 20px 20px 0px 20px;
	border-radius: 6px;
	display: inline-block;
}

.face-down {
	background-color: black;
}

.face-up {
	background-color: white;
}

.matched {
	background-color: #40D47E;	/* Green */
}

.unselectable {
	-o-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	-webkit-user-drag: none;
	user-drag: none; 
}
